# Dogecoin Arcade Client Server config (template)

# MongoDB config
MONOGODB_DATABASE_TYPE=memory # memory / server

# Ports config
ZMQ_PORT=9000
WEBSOCKET_PORT=7000
MONGODB_MEM_PORT=6000

# RPC config (change)
RPC_USER='doge'
RPC_PASS='dogecoin'
RPC_HOST='127.0.0.1'
RPC_PORT='8000'
RPC_PROTOCOL='http'
